@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap');

/*https://coolors.co/0a2463-fb3640-605f5e-247ba0-e2e2e2*/
/*https://colorhunt.co/palette/222831393e4600adb5eeeeee*/
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
}

:root {
    --graident-right: linear-gradient(90deg, rgba(170, 170, 170, 0.315), #92848456);
    --graident: linear-gradient(45deg, rgba(0, 0, 0, 0.582), rgb(75, 75, 75), #928484, rgb(75, 75, 75), rgba(0, 0, 0, 0.582));
    --graident-project: linear-gradient(180deg, #E2E2E2, #928484);
}

.loading-title {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading-title h1 {
    animation: page-load 4s ease-out;
    animation-duration: 2s;
    color: #518968;
    animation-direction: reverse;
    user-select: none;
}

.loading-title h1:first-child {
    font-family: 'Space Grotesk', 'Courier New', Courier, monospace;
    font-size: 2rem;
}

.loading-title h1:last-child {
    font-family: 'Space Grotesk', 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 2rem;
    animation-delay: 400ms;
}

header {
    background-color: #E2E2E2;
}

.fi {
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
    color: black;
}

header .logo {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Space Grotesk', 'Courier New', Courier, monospace;
    max-width: 40rem;
    user-select: none;
   
    border-radius: 50px;
}

header .logo .title {
    text-align: center;
    justify-content: center;
    background-image: var(--graident-right);
    font-family: 'Space Grotesk', 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100px;
    border-top: #272727a1 2px solid;
    border-radius: 0 0 50px 50px;
    
}

header .title h1 {
    font-weight: 300;
    font-size: 1.5rem;
}

header .logo h1:last-child {
    font-weight: 500;
}

header img {
    border-radius: 50px 50px 0px 0px;
    max-height: 300px;
    max-width: 500px;
    min-height: 265px;
    min-width: 260px;
    background-image: var(--graident-right);
    background-position: left;
    pointer-events: none;
}

.logo-container {
    padding-top: 30px;
    background: var(--graident);
    animation: bg-animation 20s infinite alternate;
    background-size: 600%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 35rem;
    z-index: 1;
}

.index-content {
    background-color: #E2E2E2;
    animation: page-load 300ms linear;
}

.top-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px 25px 30px;
    background-color: #E2E2E2;

}

#project-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40vh 100px 10vh 100px;
}

.projects {
    max-width: 70rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 2rem;

}

.projects div {
    border-radius: 10%;
    max-width: 500px;
    min-width: 400px;
    height: 40vh;
    max-height: 400px;
    min-height: 300px;
    object-fit: cover;
    object-position: 0px;
    width: 30vw;
}

.projects .hover-content {
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    max-height: 400px;
    min-height: 300px;
    width: 100%;
    border-radius: 10%;
    color: white;
    display: none;
    opacity: 0;

}

.hover-content {
    display: flex;
    flex-flow: column nowrap;
}

.hover-content button {
    margin-top: 50px;
    border-radius: 10px;
    background-color: #272727a8;
    color: white;
    font-size: 21px;
    width: 130px;
    height: 50px;
}

.hover-content button:hover {
    background-color: #0097fc77;
}

.btn-container {
    background: #272727a1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

.btn-dark {
    display: flex;
    width: 300px;
}

.projects .hover-content:hover {
    opacity: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.164));
    transition: opacity 500ms;
}

.projects .ken-sushi {
    background: url('../imgs/ken-sushi.png') no-repeat;
    background-size: 110%;
}

.projects .happy-plants {
    background: url('../imgs/happy-plants.png') no-repeat;
    background-size: 170%;
}

.projects .ecommerce {
    background: url('../imgs/ecommerce.png') no-repeat;
    background-size: 100%;
}

.projects .profile {
    background: url('../imgs/profil.png') no-repeat;
    background-size: 120%;
}

.menu-container {
    display: none;
    overflow: hidden;
    height: 100%;

    position: fixed;
    top: 0;
    width: 100%;
    background: #E2E2E2;
}

.menu-container nav ul {
    list-style: none;
    width: 100%;
    margin-top: 50px;
}

.menu-container nav ul h1 {
    color: #272727a8;
    margin-top: 50px;
}

.fi-bs-arrow-alt-right {
    position: fixed;
    right: 0;
    z-index: -1;
    color: #000000c7;

}

.menu-container nav {
    display: flex;
    align-items: center;

}

.menu-container mark {
    background-color: #E2E2E2;
}

.menu-container nav ul li a {
    font-size: 30px;
    text-decoration: none;

    align-items: center;
    color: #000000c7;
}

.menu-container nav ul li:hover mark {
    text-decoration: underline;
    text-decoration-color: #0097fc77;
}

.menu-container .menu-icon {
    width: 100%;
    height: 100px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E2E2E2;
    border-bottom: black solid 2px;
}

footer {
    text-align: center;
    background-color: #272727;
    color: white;
    width: 100%;
    height: 100px;
}
footer p {
    font-size: 23px;
}

.menu-icon:hover {

    cursor: pointer;
}

/*Project Pages*/

.grid-container {

    height: 100%;
    background: var(--graident-project);
    display: grid;
    gap: 1rem;
}

.grid-container h1 {
    text-align: center;
    font-size: 4rem;
}

.grid-container h2 {
    text-align: center;
    font-size: 3rem;
}

.grid-container .cover-photo,
.grid-container .small-photo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container .small-photo img {
    width: 100%;
    max-width: 400px;
}

.grid-container .cover-photo img {
    width: 100%;
    max-width: 500px;
}

.grid-container .title {
    padding-top: 20px;
}

.grid-container article {
    padding: 5rem 2rem 5rem 2rem;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 950px) {

    /*Project Pages*/

    .grid-container {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1.5fr 1fr;
        gap: 1rem;

    }

    .grid-container h1 {
        text-align: center;
        font-size: 4rem;
    }

    .grid-container h2 {
        text-align: center;
        font-size: 3rem;
    }

    .grid-container .cover-photo {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .grid-container .small-photo > * {
        grid-column: 1 / span 2;
        grid-row: 3 / 4;
        padding-bottom: 50px;
    }
 

    .grid-container .cover-photo,
    .grid-container .small-photo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-container .small-photo img {
        width: 100%;
        max-width: 400px;
    }

    .grid-container .cover-photo img {
        width: 100%;
        max-width: 500px;
    }

    .grid-container .title {
        margin-top: 20px;
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .grid-container article {
  
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
        max-width: 450px;
        grid-column: 2/4;
        grid-row: 2/3;
    }

    header .logo {
        outline: 0;
    }

    .logo-container {
        background: #000000c7;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding-top: 0;
        align-items: center;
        height: 25rem;
        z-index: 1;
    }

    header .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        width: 100vw;
        min-height: 300px;
     
        max-height: 200px;
        background-image: var(--graident);
        animation: bg-animation 20s infinite alternate;
        background-size: 400%;
        border-radius: 0px;
    }

    .btn-container {
        background: none;

        width: 300px;
        height: 65px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .btn-dark {
        width: 300px;

    }

    header {
        height: 100vh;
        

    }

    #project-content {
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        border-radius: 20% 20% 20% 20%;
        border: none;

        background-image: none;
        background-color: #92848462;
        margin-left: 3rem;
    }

    header .logo .title {
        border-radius: 0;
        padding: 30px;
        text-align: start;
        font-size: 1.3rem;
        width: 30rem;
        flex-basis: 20rem;
        border: none;
    
        margin-right: 3rem;
        background-image: none;
    }
}

@keyframes page-load {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }

}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}